@font-face {
    font-family: 'EntypoRegular';
    src: url('https://cdnjs.cloudflare.com/ajax/libs/entypo/2.0/entypo.eot');
    src: url('https://cdnjs.cloudflare.com/ajax/libs/entypo/2.0/entypo.eot?#iefix') format('embedded-opentype'),
         url('https://cdnjs.cloudflare.com/ajax/libs/entypo/2.0/entypo.woff') format('woff'),
         url('https://cdnjs.cloudflare.com/ajax/libs/entypo/2.0/entypo.ttf') format('truetype'),
         url('https://cdnjs.cloudflare.com/ajax/libs/entypo/2.0/entypo.svg#EntypoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'EntypoSocialRegular';
    src: url('https://cdnjs.cloudflare.com/ajax/libs/entypo/2.0/entypo-social.eot');
    src: url('https://cdnjs.cloudflare.com/ajax/libs/entypo/2.0/entypo-social.eot?#iefix') format('embedded-opentype'),
         url('https://cdnjs.cloudflare.com/ajax/libs/entypo/2.0/entypo-social.woff') format('woff'),
         url('https://cdnjs.cloudflare.com/ajax/libs/entypo/2.0/entypo-social.ttf') format('truetype'),
         url('https://cdnjs.cloudflare.com/ajax/libs/entypo/2.0/entypo-social.svg#EntypoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
